* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-font-style: "Montserrat", sans-serif;
  --secondary-font-style: "Unna", serif;
  --font-color: #fffffe;
}

.container {
  background: url(lime.jpeg) center/cover no-repeat;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  padding: 50px;
  width: 800px;
  height: 1100px;
  margin: auto;
  justify-content: space-between;
  box-shadow: inset 0 0 0 25px #fbd033;
  text-shadow: 2px 2px 5px #333232;
  font-family: var(--main-font-style);
}

.logo-title-container {
  display: flex;
  flex-direction: column;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  font-weight: bold;
  font-family: "Unna", serif;
  text-transform: uppercase;
}

.title:last-child {
  text-transform: uppercase;
  font-size: 160px;
  font-weight: normal;
  font-family: var(--main-font-style);
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.image-logo {
  width: 200px;
  height: 100px;
}

.other-section {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.other-section:last-child {
  text-transform: uppercase;
  font-weight: 400;
}

.main {
  display: flex;
  flex-direction: column;
  font-family: var(--secondary-font-style);
}

.chefs-list {
  text-transform: uppercase;
  padding-right: 50%;
}

.italys-finest {
  font-family: var(--secondary-font-style);
  font-size: 136px;
  letter-spacing: -0.56px;
  line-height: 107px;
  padding: 27px 0;
}

.other-contents {
  padding: 20px 0;
}

.other-contents-title {
  font-family: var(--secondary-font-style);
  font-size: 30px;
}

.other-contents-description {
  font-family: var(--main-font-style);
  text-transform: uppercase;
  padding-right: 60%;
}

.footer {
  font-family: var(--main-font-style);
  text-transform: uppercase;
  font-weight: bold;
}